<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/layout/header.html :: fragment-header"></div>
</head>

<body th:align="center">

<nav th:replace="fragments/layout/nav.html :: fragment-nav"></nav>

<div class="container align-items-center">
    <div class="py-5 text-center">
        <h2>식단 올리기</h2>
        <p class="lead"></p>
    </div>

    <form th:action="@{/diet}" method="POST" enctype="multipart/form-data"
          class="row row-cols-lg-auto g-3 align-items-center">

        <input th:type="file" th:name="imgFile" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">

        <label class="visually-hidden" for="mealType">Choose..</label>
        <select class="form-select" id="mealType" th:name="mealType">
            <option selected>끼니...</option>
            <option th:value="MORNING">아침</option>
            <option th:value="LUNCH">점심</option>
            <option th:value="DINNER">저녁</option>
            <option th:value="SNACK">간식</option>
        </select>

        <label for="content" class="visually-hidden">내용</label>
        <textarea th:type="text" th:name="content" class="form-control" id="content" placeholder="세부사항"></textarea>

        <button type="submit" class="btn btn-outline-success btn-lg">완료</button>
        <button type="button" class="btn-cancel btn btn-lg btn-outline-secondary">뒤로</button>
    </form>

</div>


<footer th:replace="fragments/layout/footer.html :: fragment-footer"></footer>
<script src="/js/app/diet.js"></script>
</body>
</html>