<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="fragment-nav">
    <div class="container ">

        <header class="d-flex flex-wrap align-items-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span class="fs-4">DiBly</span>
            </a>

<!--            <ul class="nav nav-pills">-->
<!--                <p th:if="${user} == null">-->
<!--                <li class="nav-item"><a th:href="@{/login}" class="nav-link">로그인</a></li>-->
<!--                </p>-->

<!--                <p th:if="${user} != null">-->
<!--                <li class="nav-item"><a href="#" class="nav-link">프로필</a></li>-->
<!--                <li class="nav-item"><a th:href="@{/logout}" class="nav-link">로그아웃</a></li>-->
<!--                </p>-->
<!--            </ul>-->
        </header>
    </div>
</div>

</html>