<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:replace="fragments/layout/header.html :: fragment-header"></header>
</head>

<body th:align="center">

<nav th:replace="fragments/layout/nav.html :: fragment-nav"></nav>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-6 fw-bold">칼로리를 확인하고 식단을 조절하세요!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-2">다이어트에 필수적인 식단관리.</p>
        <p class="lead mb-2">사진을 찍어 올리면 칼로리를 계산해줍니다!</p>
        <p class="lead mb-4">하루동안 섭취한 음식의 칼로리를 확인하고 식단을 조절해보세요.</p>
        <p class="lead mb-2">직접 칼로리 입력 ❌</p>
        <p class="lead mb-5">앱 내 검색 입력 ❌</p>
    </div>

    <div class="col-lg-6 mx-auto">
        <div th:if="${user} != null" class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" onclick="location.href='/diet'" class="btn-diet btn btn-primary btn-lg px-4 gap-3">내 식단</button>
            <button type="button" onclick="location.href='/logout'" class="btn btn-outline-secondary btn-lg px-4">로그아웃</button>
        </div>
        <div th:if="${user} == null" class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" onclick="location.href='/login'" class="btn btn-outline-secondary btn-lg px-4">로그인</button>
        </div>
    </div>

    </br></br></br>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">모든 서비스는 로그인이 필요합니다.</p>
    </div>

    <!--    <img class="d-block mx-auto mb-4" src="img/linkedin_banner_image_2.png" alt="" width="70%" height="100%">-->
</div>


<footer th:replace="fragments/layout/footer.html :: fragment-footer"></footer>

</body>
</html>
