<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>

<body th:align="center">

<nav th:replace="/fragments/nav.html :: fragment-nav"></nav>

<h1>내가 먹은 거</h1>

<!--    글번호 : <span th:text="${post.id}"></span><br><br>-->
끼니 : <span th:text="${post.title}"></span><br><br>
내용 : <span th:text="${post.content}"></span><br><br>
음식 : <span th:text="${post.foods}"></span><br><br>
총 칼로리 : <span th:text="|${post.calorieInfo} kcal|"></span><br><br>
<img th:src="|/posts/image/${post.uploadFile.getStoreFileName()}|" width="300" height="300"><br><br>
<!--    해당 URL로 GET 요청을 하는 것-->
<!--    작성자 : <span th:text="${post.user.id}"></span><br>-->

<a th:href="@{/posts/updatepost(id=${post.id})}">수정</a>
<a th:href="@{/posts/deletepost(id=${post.id})}">삭제</a>
<a th:href="@{/posts}">뒤로</a>
<footer th:replace="/fragments/footer.html :: fragment-footer"></footer>

</body>
</html>