<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body th:align="center">

    <h1>음식 일지</h1>
    <a href="/posts/post">오늘 먹은 거 올리기</a>

    <table th:align="center">
        <th>날짜</th>
        <th>끼니</th>
        <th>칼로리</th>
        <tr th:each="post : ${posts}">
            <td th:text="${post.createDate}"></td>
            <td><a th:href="@{/posts/postinfo(id=${post.id})}" th:text="${post.title}"></a></td>
            <td th:text="|${post.calorieInfo} kcal|"></td>
        </tr>
    </table>

</body>
</html>