<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="fragment-nav">
    <div class="container ">

        <header class="d-flex flex-wrap align-items-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <span class="fs-4">DiBly</span>
            </a>

            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="/board">게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">공동구매</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/diet">내 식단</a>
                </li>
            </ul>
        </header>
    </div>
</div>

</html>